@import 'tailwindcss';

#root {
  color: var(--color-primary-text);
}

h1 {
  @apply text-3xl font-bold mb-4;
}

h2 {
  @apply text-2xl font-semibold mb-3;
}

h3 {
  @apply text-xl font-medium mb-2;
}

h4 {
  @apply text-lg font-medium mb-1;
}

h5 {
  @apply text-base font-medium mb-1;
}

html {
  background-color: var(--color-primary-foreground);
}

@theme {
  --color-primary: #e97b56;
  --color-primary-foreground: #262624;
  --color-primary-text: whitesmoke;
}

.todo {
  @apply bg-blue-100 p-2 rounded-md border border-blue-300 mt-4 text-blue-800;
}
